<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Flashy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-body-tertiary box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Flashy</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse justify-content-between" id="navBar">
                <div class="navbar-nav">
                    <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                    <a class="nav-link" asp-area="Admin" asp-page="/Index">Admin</a>
                </div>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid min-vh-100">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container-fluid">
        &copy; 2024 - Flashy - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation/localization/messages_pl.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>