@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}

<h1>
    <a class="btn" asp-area="Admin" asp-page="/Index">Admin Panel</a>
</h1>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}