<div class="nav nav-pills flex-column">
    <a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="users" asp-area="Admin" asp-page="/Users/Index">Users</a>
    <a class="nav-link @ManageNavPages.RolesNavClass(ViewContext)" id="roles" asp-area="Admin" asp-page="/Roles/Index">Roles</a>
    <a class="nav-link @ManageNavPages.DecksNavClass(ViewContext)" id="decks" asp-area="Admin" asp-page="/Decks/Index">Decks</a>
    <a class="nav-link @ManageNavPages.FlashCardsNavClass(ViewContext)" id="flash-cards" asp-area="Admin" asp-page="/FlashCards/Index">Flash Cards</a>
</div>