@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non mattis nibh. Vivamus posuere augue diam. Praesent lorem urna, fermentum in condimentum id, eleifend sed diam. Fusce eget tortor neque. In in sodales lacus. Aenean eleifend dignissim ligula bibendum aliquam. Sed non bibendum purus. Integer aliquam, nulla eget imperdiet vehicula, eros tortor aliquet elit, sit amet placerat leo risus vitae leo. Maecenas porttitor tellus sed mauris blandit, fringilla efficitur metus finibus. Duis eget venenatis tortor. Ut venenatis, turpis et efficitur cursus, urna urna venenatis nisl, non consectetur velit risus ac tortor. Quisque vestibulum ultricies justo at tempor. Sed augue risus, tristique et interdum in, molestie at arcu. Aenean vitae dui lacinia, pulvinar purus sed, venenatis neque. Pellentesque accumsan elit at ex blandit, id facilisis libero facilisis. Suspendisse sodales, mauris sit amet aliquam iaculis, nunc nisl accumsan ipsum, id tempus eros turpis eget libero.
</p>

<p>
    Fusce id hendrerit urna, a elementum mi. Mauris nec nisi arcu. Nunc nulla nulla, maximus id justo nec, viverra accumsan augue. Phasellus ipsum urna, iaculis at venenatis at, efficitur quis lacus. Sed auctor risus non augue porta, sed volutpat sem interdum. Nam nec consectetur ante. Etiam sit amet massa vel leo molestie accumsan a sit amet ipsum.
</p>

<p>
    Nunc imperdiet eros auctor lorem vehicula iaculis. Vestibulum faucibus velit sit amet ante rutrum, a dapibus ante commodo. Maecenas fringilla ornare ipsum, eu congue leo. Phasellus a vehicula velit, et scelerisque arcu. Nullam sodales ultrices maximus. Fusce pellentesque mollis erat quis aliquam. Nunc sem quam, mattis id fermentum nec, consectetur sed ligula. Maecenas eget nunc id purus lacinia molestie.
</p>

<p>
    Aliquam et urna hendrerit neque tempor interdum ut nec quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi dapibus, nulla in egestas mattis, metus dui fringilla magna, at maximus sapien lacus at lectus. Pellentesque quis tempus erat. Mauris eget est vitae magna vulputate venenatis. Pellentesque aliquam eleifend dolor, in venenatis sem elementum a. Donec semper rutrum elementum. Curabitur ut ligula et augue lacinia dictum at at purus. Integer tempor eros vel ante semper porttitor. Curabitur gravida mi justo, a pulvinar justo tempor vel. In pellentesque turpis in ante egestas cursus.
</p>

<p>
    Cras at tellus quis justo cursus gravida. Phasellus lorem neque, condimentum fermentum ullamcorper a, congue non metus. In convallis nisi vitae justo pulvinar sodales. In hac habitasse platea dictumst. Pellentesque mollis ac ante sed feugiat. Donec eleifend purus mi, sit amet ultrices sapien ultricies vel. Aliquam pharetra posuere aliquet. Praesent eu sem ante. Sed ut odio cursus, lacinia risus eu, elementum sem. Donec at massa mattis, fringilla nisl at, pretium tortor. Quisque massa metus, iaculis quis ex eget, luctus placerat nunc. Donec ut metus ipsum.
</p>

<p>
    Aenean volutpat molestie egestas. Vivamus quis velit in nunc tempus varius. Praesent blandit at eros in aliquet. Vestibulum tempor tortor tortor, quis pharetra diam fringilla ac. Phasellus non fermentum ex, quis dapibus magna. Praesent fringilla aliquam enim eu aliquet. Mauris vel massa massa. Fusce lacinia tortor in massa vehicula, at blandit odio lacinia. Sed at sagittis ex, nec euismod nulla. Sed mattis volutpat dui, eu efficitur justo pretium vitae. Maecenas ultricies volutpat magna, in vestibulum velit convallis id. Sed et tellus varius, laoreet metus et, ultricies elit. Aliquam at arcu semper lectus lobortis laoreet.
</p>

<p>
    Vestibulum aliquet magna euismod mattis molestie. Integer tincidunt dictum enim, a euismod ante euismod sed. Aliquam condimentum, felis ac efficitur pretium, libero mi gravida arcu, sit amet bibendum purus metus nec elit. Aliquam nec posuere tortor, vel pharetra odio. Fusce feugiat at libero eu pellentesque. Donec gravida est id eros faucibus semper. Fusce aliquet lacus vitae magna porta tincidunt.
</p>

<p>
    Curabitur vulputate ultricies urna eget elementum. Duis porttitor nunc nec velit tempor, ac mattis diam egestas. Sed vitae velit in felis ultrices dignissim pulvinar eu tellus. Sed venenatis porttitor tellus ut finibus. Ut pulvinar tincidunt dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Nunc sollicitudin neque sit amet placerat elementum. Ut ullamcorper dui a lorem congue viverra. Integer erat nisl, aliquam non pretium ut, convallis sed massa. Fusce non egestas risus. In non quam venenatis, tempus sem non, lacinia libero. Sed non metus eget ligula eleifend maximus in quis ante. Duis nec elementum purus. Vivamus volutpat metus ultricies sapien efficitur porta et eget tortor. Proin et tortor mi.
</p>

<p>
    Praesent scelerisque nisi sed ipsum tincidunt, id iaculis est rhoncus. Vivamus eu facilisis est. Donec sit amet lectus non nisl commodo interdum. Praesent sodales enim est, ac tincidunt libero egestas non. Pellentesque vitae porta odio. Sed luctus fringilla dapibus. Duis eget fringilla urna. Mauris venenatis nulla odio, eget rutrum lorem pretium vitae. Nullam non luctus eros, sed ultricies nisl. Morbi pretium enim ac viverra dictum. Suspendisse potenti. Proin fermentum velit et augue sagittis, sit amet feugiat enim consectetur.
</p>

<p>
    Nunc ut eros varius magna consectetur lobortis. Nulla porta enim eget mauris iaculis, eget iaculis ipsum tempor. Cras ornare convallis lectus, hendrerit consectetur erat vestibulum in. Phasellus eleifend turpis id risus accumsan gravida. Etiam eu justo id lorem molestie luctus. Mauris at ullamcorper felis, eu iaculis tellus. In libero massa, dictum et blandit id, tempus vitae sem. Mauris fringilla ex hendrerit tellus lacinia tincidunt. Vestibulum eu lobortis magna, quis ornare neque. Pellentesque sodales diam in sodales interdum. Praesent congue tellus nec massa consequat ullamcorper ac eget nulla. Mauris convallis tellus augue, ultrices mollis nisi feugiat et. Vivamus eleifend urna neque, eu faucibus ante efficitur vitae. Sed quis dictum nisi, sit amet egestas velit.
</p>

<p>
    Sed tortor lorem, finibus nec erat elementum, congue commodo risus. Vestibulum congue luctus nunc, nec dapibus justo rutrum sodales. Donec blandit enim at neque pretium, vitae molestie ligula vestibulum. Donec orci magna, pharetra ac sagittis nec, varius vel sem. In condimentum lectus vehicula auctor cursus. In molestie, purus eu pulvinar iaculis, mi felis porttitor mi, sit amet malesuada sem orci finibus eros. Maecenas in lacus malesuada, euismod massa ut, bibendum tellus. Quisque quis sapien id sem convallis placerat sed eget urna. Cras ultrices turpis vel nunc maximus laoreet.
</p>

<p>
    Nullam nunc massa, hendrerit a nulla et, ullamcorper feugiat mi. Praesent pulvinar sit amet dolor ac pharetra. Suspendisse efficitur nec libero sed efficitur. Curabitur vel odio volutpat, laoreet quam et, cursus mauris. Vestibulum laoreet metus sed nunc efficitur consequat. Suspendisse vitae lobortis lacus. Aliquam lacinia, justo facilisis lobortis vestibulum, metus libero iaculis urna, quis sodales dui mi eu metus. Donec tincidunt odio urna. Maecenas dapibus risus lorem, ut elementum dui suscipit ac. Donec semper accumsan justo volutpat dictum. Donec non est tellus. Mauris auctor ornare consequat. Donec egestas finibus ultrices. Vestibulum sem est, porttitor sit amet odio a, sollicitudin finibus lorem. Sed posuere enim eget convallis fringilla. Suspendisse et ligula ex.
</p>

<p>
    Sed purus est, scelerisque nec felis ac, varius interdum nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus tempus vitae mauris at suscipit. Mauris sit amet nisl tincidunt, ullamcorper lacus quis, interdum nunc. Nunc ut aliquet tellus, congue rutrum erat. Morbi gravida vestibulum mattis. Donec pellentesque lacus sed euismod mattis. Pellentesque ac sapien molestie, tincidunt justo sit amet, tincidunt justo. Donec gravida tincidunt finibus. In hac habitasse platea dictumst. Ut sed quam id dolor tempus accumsan vel in turpis. Ut ut dapibus ligula.
</p>

<p>
    Cras dictum diam ex, et rhoncus magna dapibus id. Praesent ac mattis orci, et cursus neque. Proin suscipit ornare eros, non ornare elit pharetra in. Suspendisse vitae massa tristique, fringilla massa id, commodo neque. Nulla blandit nisl sit amet risus viverra varius. Proin sed sagittis massa, finibus pellentesque nisi. Ut cursus enim orci, nec vestibulum erat tincidunt in. Ut porttitor semper lorem, at sagittis dui vehicula sed. Praesent ullamcorper, nulla eget congue elementum, tortor magna mollis lorem, eu dignissim arcu massa at turpis. Nam eu felis varius, sollicitudin dui eget, rutrum nisl.
</p>

<p>
    Mauris a urna vel tortor tincidunt tempor. Sed diam dolor, volutpat vel vulputate tempus, consectetur eget tortor. Fusce et ante aliquam, molestie odio at, finibus risus. Sed placerat fringilla purus quis sollicitudin. Cras euismod posuere malesuada. Integer dolor lectus, facilisis quis lorem non, luctus efficitur tellus. Nulla viverra venenatis nulla, non dapibus tellus congue eu. Etiam ultricies quis ipsum at pulvinar. Morbi ac ipsum nec diam vulputate sodales sit amet eu dui. Ut venenatis consectetur ultrices. Mauris maximus ligula tellus, a gravida ante lobortis quis. Fusce hendrerit eget nulla vitae pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce luctus malesuada massa, et luctus libero tincidunt a.
</p>