@page
@model Flashy.Areas.Admin.Pages.FlashCards.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>FlashCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <label asp-for="InputModel.Front" class="control-label"></label>
                <input asp-for="InputModel.Front" class="form-control" />
                <span asp-validation-for="InputModel.Front" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputModel.Back" class="control-label"></label>
                <input asp-for="InputModel.Back" class="form-control" />
                <span asp-validation-for="InputModel.Back" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputModel.Hint" class="control-label"></label>
                <input asp-for="InputModel.Hint" class="form-control" />
                <span asp-validation-for="InputModel.Hint" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

